body {
    font-family: Arial, sans-serif;
    background-color: #1e1e2f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: white;
}

h1 {
    margin-bottom: 10px;
}

#wynik {
    height: 30px;
    margin-bottom: 15px;
}


.board {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
}


.cell {
    background-color: #2e2e4d;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;


}

.cell:hover {
    background-color: #3e3e6d;
}
.cell.x {
    color: #ff3b3b;  
}
.cell.o {
    color: #3b6cff;   }
button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #3e3e6d;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #5757a3;
}
 .X {
    color: #ff3b3b;
 }